.aboutme {
  height: 100vh;
  background-color: var(--smothBackgroundColor);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  position: relative;
  z-index: 1000;
}

.aboutme h2 {
  padding: 1.4rem 1.8rem;
  font-size: 2.8rem;
  font-family: "OriginTech";
  color: white;
  border-radius: 0.8rem;
  box-shadow: 0rem 0.55rem 1rem 0.5rem var(--shadowColor);
  backdrop-filter: blur(5px);
}

.aboutme p {
  width: 64rem;
  padding: 1.4rem 1.8rem;
  font-size: 2.4rem;
  color: white;
  border-radius: 0.8rem;
  box-shadow: 0.3rem 0.45rem 1rem 0.3rem var(--shadowColor);
  text-align: justify;
  text-indent: 2.4rem;
  backdrop-filter: blur(5px);
}
