.getout{
    background-image: url(../assets/images/background.svg);
    background-size: cover;
    background-position: 25% 82%;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 3;
}

.wrapper{
    padding-block: 2.6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.getout span{
    color: rgba(255, 255, 255, 0.7);
    transition: .8s;
    display: block;
}

.getout span:hover,
.getout span:hover a{
    color: #333;
    font-weight: bold;
    text-shadow: 0 0 0.3rem #fff;
}

.getout a{
    color: #ffffffb3;
    transition: .8s;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.getout img{
    width: 5rem;
}

.getout img:hover{
    animation: rotate 0.65s linear both;
}

@keyframes rotate {
    0% {
        transform: scale(1) rotateZ(0);
    }
    50% {
        transform: scale(2) rotateZ(180deg);
    }
    100% {
        transform: scale(1) rotateZ(360deg);
    }
  }
  