.rings{
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    border: solid 5rem #808274;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate3d(1, 0, 0, 70deg);
    transform-style: preserve-3d;
}

.rings::before{
    content: '';
    position: absolute;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: solid 2rem #021c27;
}

.rings::after{
    content: '';
    position: absolute;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: solid 2rem #70a4c280;
}

.planet{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: radial-gradient(#0b6a80, #034757);
    border-radius: 50%;
    border: solid .1rem hsla(0, 0%, 100%, 0.6);
    box-shadow: inset -2rem 0 1rem rgba(0,0,0,0.6);
    transform: rotate3d(-1, 0, 0, 60deg); 
}